.containerTrackOne{
    padding-top: 2rem;
    padding-bottom: 10rem;
}

h2{
    font-family: 'Lato' , sans-serif
}

.track-css {
    padding: 0 25rem 0 25rem;
}

.partner_block{
    display: flex;
    justify-content: center;
}

.partner_img{
    width: 400px
}

.textsmaller{
    font-family: Lato
}