.containerMain-track {
    overflow: hidden;
}

.h2 { /*global*/
    font-family: 'Montserrat', sans-serif;
}

.grid-track {
    width: fit-content;
    justify-items: center;
    text-align: center;
}

.trackImageContainer {
    height: 300px;
    width: fit-content;
    overflow: hidden;
    row-gap: 1rem;
}

.image1-track {
    width: 600px;
    height: 300px;
    object-fit: cover;
}

.textsmaller {
    font-family: "Montserrat", sans-serif;
}

.sponsor {
    padding: 2rem;
    width: 200px;
    height: 100px;;
}

@media(max-width: 768px){

}