.modal-wrapper {
  background: white;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  margin: 9rem;
  transition: all .8s;
  width: 80%;
  position: absolute;
  z-index: 2;
  border-radius: 2rem;
  position: fixed;
}

.modal-header {
  height: 40px;
  line-height: 40px;
  padding: 5px 20px;
  text-align: right;
}


.modal-header h3 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
}

.modal-footer {
  height: 35px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.close-modal-btn {
  color: black;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin: 0;
  font-family: 'Lato';
}

.close-modal-btn:hover {
  color: black;
}

.btn-continue:hover {
  color: black;
}

.btn-cancel, .btn-continue {
  background: coral;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  padding: 10px;
}

.btn-cancel {
  background-color: #b71c1c;
  float: left;
}

.btn-continue {
  background-color: #1b5e20;
  float: right;
  border-radius: 1rem;
  font-family: 'Lato' , sans-serif;
  font-weight: 400;
  font-size: 18px
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
}

.logoSizeModal{
  width: 20%;
  border: 0;
  opacity: 1;
}

.logo-height{
  height: 8rem;
}

.black{
  color: black;
}

.wrapper-modal{
  display: flex;
  justify-content: center;
}

@media(max-width: 768px){
  .modal-wrapper {
    width: 77%;
    margin-left: 3rem;
  }

  .btn-continue {
    font-size: 15px;
  }
}