@font-face { /*global font*/
    font-family: Montserrat, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:900');
}


/*intro*/

.containerIntro { /*global*/
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
}

.containerIntro-ourStory {
    background: linear-gradient(
                     rgba(0, 0, 0, .6), 
                     rgba(0, 0, 0, .6)),
                     url("../../images/junction_img/individual.jpg");
    background-position: center center;
}

.wrapperIntro { /*global*/
    display: grid;
    max-height: 700;
}

.header1intro { /*global*/
    font-weight: 700;
    font-size: 50px;
    max-width: 35vw;
    text-align: left;
    text-align: left;
    margin-top: 15vh;
    padding: 1rem;

}

.header2intro { /*global*/
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    max-width: 45vw;
    text-align: left;
    margin-left: 5rem;
    padding: 1rem;
}

/*content*/

.wrapperTwo-grid-left{
    max-width: 25rem;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.wrapperTwo-grid-right{
    max-width: 60rem;
    font-size: 19px;
    text-align: left;
    line-height: 25px;
    margin-top: 2.2rem;
}

.containerMain-ourStory {
    display: grid;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    column-gap: 5%;
    row-gap: 1%;
    align-content: center;
    grid-template-areas:
        ". first second ."
        ". third fourth ."
}

.container1-ourStory {
    grid-area: first;
    align-content: center;
}

.container2-ourStory {
    grid-area: second;
    align-content: center;
}

.container3-ourStory {
    grid-area: third;
    align-content: center;
}

.container4-ourStory {
    grid-area: fourth;
    align-content: center;
}


@media(max-width: 800px) {
    .containerMain-ourStory {
        display: grid;
        height: auto;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 15%;
        margin-right: 15%;
        column-gap: 5%;
        row-gap: 1%;
        align-content: center;
        grid-template-areas:
            "first"
            "second"
            "third"
            "fourth"
    }

    .header2intro {  /*global media styling*/
        margin: 2rem;
        text-align: left;
        justify-content: center;
        max-width: 300px;  
    }
}