@font-face { /*global font*/
    font-family: Montserrat, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:900');
}

/*intro*/

.containerIntro { 
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 15rem;
    text-align: center;
    height: 500px;
}

.containerIntro-ourStory {
    background: linear-gradient(
                     rgba(0, 0, 0, .6), 
                     rgba(0, 0, 0, .6)),
                     url("../../images/junction_img/individual.jpg");
    background-position: center center;
}

.wrapperIntro { 
    display: grid;
    max-height: 700;
}

.header1intro { 
    font-weight: 700;
    font-size: 50px;
    max-width: 35vw;
    text-align: left;
    text-align: left;
    margin-top: 15vh;
    padding: 1rem;

}

.header2intro { 
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;
    max-width: 45vw;
    text-align: left;
    margin-left: 5rem;
    padding: 1rem;
}


/*content:*/

.containerMain { 
    background-color: #1a1a1a; /*previous: #232323*/
    justify-content: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.flexContainer { 
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.flexItem-left { 
    font-size: 30px;
    font-weight: 700;
    max-width: 20rem;
    text-align: left;
    padding: 1rem;
}

.flexItem-right { 
    font-size: 19px;
    line-height: 25px;
    max-width: 30rem;
    text-align: left;
    padding: 1rem;
}

.blackBackground {
    background-color: black;
}

@media(max-width: 800px) {

    .header2intro {  
        margin: 2rem;
        text-align: left;
        justify-content: center;
        max-width: 300px;  
    }

    .containerMain { 
        align-items: center;
        align-content: center;
        justify-content: center;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;   
    }

    .flexContainer { 
        align-items: center;
        flex-direction: column;
    }
    
    .flexItem-left { 
        text-align: center;
    }

    .containerIntro { 
        height: 700px;
        padding: 1rem;
    }
}