.containment{
    background: white;
    display: block;
    text-align: center;
    color: #35e2df;
    padding-top: 4.1rem;
}
.image{
    height: 100%;
    padding: 1rem 0 1rem 0;
}

.circles{
    height: 100%;
}

.boxing {
    display: inline-flex;
    align-items: center;
    height: 250px;
    width: 250px
}

.container-box{
    display: flex;
    justify-content: space-evenly
}

.CoOrganising{
    padding-top: 2rem
}
            
.Bronze{
    padding-top: 2rem;
}

.ComPartner{
    padding-bottom: 4rem;
}

@media(max-width: 768px){

    .containment{
        padding: 2rem;
    }

    .container-box{
        display: block
    }

    .ComPartner{
        padding-bottom: 0rem
    }
}