.containment{
    background: white;
    display: block;
    text-align: center;
    color: #35e2df;
    padding-top: 4.1rem;
}
.image{
    height: 100%;
    padding: 2rem 0 2rem 0;
}

.circles{
    height: 100%;
    padding: 2rem
}

.boxing{
    display: inline-flex;
    align-items: center;
    height: 250px;
    width: 250px
}

.Bronze .image{
    padding-left: 2rem;
}

.CoOrganising{
    padding-top: 2rem
}
            
.Bronze{
    padding-top: 2rem;
}

.ComPartner{
    padding-bottom: 4rem;
}

@media(max-width: 768px){
    .ComPartner .image {
        padding-left: 0rem;
    }

    .containment{
        padding: 2rem;
    }
}