.containerTeam {
    padding: 10rem;
    text-align: center
}

.containerIntro {
    padding: 15rem;
    text-align: center;
    background-image: url("../../images/junction_img/team.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.containerIntro h1 {
    font-size: 50px;
    text-align: center;
}

.avatar {
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    opacity: 1;
}

.position {
    font-family: 'Lato';
}

.profile {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
}

@media(max-width: 768px) {
    .containerTeam {
        padding: 0rem;
        margin-top: 6rem;
    }
    .avatar {
        object-fit: cover;
        object-position: 100% 0;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: inline-block;
        opacity: 1;
        margin-top: 40px;
    }
}