.container {
    background: black;
    color: white;
    width: 100%;
    height: 100vh;
}

.header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

.grid-prize{
    display: grid;
    padding: 2rem;
}

.grid-subPrice{
    text-align: center
}

.smallWords{
    font-size: 10px;
}

.boxSize{
    width: 33%
}

p{
    text-align: center;
    font-family: Montserrat , 'Lato', sans-serif
}

.wrappertrack{
  padding: 5rem
}

.containerTrack{
    margin-top: 10rem;
    height: 100%;
}

.h1 {
    margin-top: 0rem;
}
.image1{
    width: 400px;
    padding: 0;
    background-size: cover;
    background-position: center;
}
.anomynous{
    background: black;
}

.back-ground{
    background-color: white;
    color: black
}
img{
    border:none;
    opacity: 1;
}

.sponsor{
    height: 5rem;
}

.grid-track{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media(max-width: 768px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem
    }
    .container {
        background: black;
        height: 100%;
        width: 100%;
    }
    .image1{
        background-size: cover;
        background-position: center;
        padding: 0;
        display: inline-block;
    }

    img{
        border:none;
    }

    .grid-prize{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
    }

    .grid-track{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
    }

    .wrappertrack{
        padding: 0rem;
    }
    .containerPrize {
        margin-top: 2rem;
        display: inline-block;
    }
}