@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:900');
}


.flexContainer-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.flexItem-left-stats {
    display: block;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    max-width: 20rem;
    padding: 1rem;
}

.flexItem-right-stats {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}


@media(max-width: 800px) {
    .flexContainer-stats {
        justify-content: center;
    }

    .flexItem-right-stats {
        justify-content: center;
    }

    .flexItem-left-stats {
        text-align: center;
    }
}