@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:900');
}


/*intro*/

.containerIntro-calendar {
    background: linear-gradient(
                     rgba(0, 0, 0, .6), 
                     rgba(0, 0, 0, .6)),
                     url("../../../images/junction_img/calendarBackgroundPhoto.jpg");
    background-position: center center;
}


@media(max-width: 800px) {

    .header2intro { 
        margin: 2rem;
        text-align: left;
        justify-content: center;
        max-width: 300px;  
    }
}