@font-face { 
    font-family: Montserrat, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:900');
}

/*intro*/

.containerIntro-forParticipants{
    background: linear-gradient(
                     rgba(0, 0, 0, .5), 
                     rgba( 0, 0, 0, .5)),
                     url('../../../images/junction_img/ForParticipantsCoverImg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;   
}


/*content*/

.containerMain-forParticipants {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.container1-forParticipants{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.wrapperTwo-grid-left-forParticipants{
    font-size: 30px;
    font-weight: 700;
    max-width: 20rem;
    text-align: left;
    padding: 1rem;
}

.wrapperTwo-grid-right-forParticipants{
    font-size: 19px;
    line-height: 25px;
    max-width: 30rem;
    text-align: left;
    padding: 1rem;
}

.quote-referal-forParticipants {
    font-size: 19px;
    font-style: italic;
    text-align: center;
    max-width: 30rem;
}

.junctionXLogo-forParticipants {
    height: 400px;
    padding: 20px;
}


@media(max-width: 800px) {
    
    .containerMain-forParticipants {
        align-items: center; 
        align-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .container1-forParticipants{
        align-items: center;
        flex-direction: column;
    }
    
    .wrapperTwo-grid-left-forParticipants {
        text-align: center;
    }

    .containerIntro {
        height: 700px;
    }
}
