
/*intro*/

.containerIntro-ourPartners {
    background: linear-gradient(
                     rgba(0, 0, 0, .5), 
                     rgba( 0, 0, 0, .5)),
                     url("../../../images/junction_img/OurPartnersCoverImg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

/*content*/

.container3 { 
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.container3-row { 
    align-items: center;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 11rem;
}

.container3-title { 
    font-size: 30px;
    font-weight: 700;
    color:  #35e2df;
    max-width: 20rem;
    text-align: left;
    padding: 1rem;
}

.container3-textContent { 
    font-size: 19px;
    line-height: 25px;
    max-width: 30rem;
    text-align: left;
    padding: 1rem;
    
}

.container3-divider {
    padding-bottom: 7rem;
}

.partnerLogo { 
    width: 260px;
    height: 160px;
    padding: 1rem;
}


@media(max-width: 800px) {

    .container3 { 
        justify-content: center;
    }

    .container3-title { 
        text-align: center;
        justify-content: center;
    }

    .container3-row { 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 1rem;
    }

    .partnerLogo { 
        max-height: 100px;
        min-width: 100px;
        justify-content: center;
    }

    .container3-textContent { 
        text-align: center;
        justify-content: center;
    }

    .container3-divider {
        padding-bottom: 5rem;
    }
}