
/*intro*/

.containerIntro-ourPartners {
    background: linear-gradient(
                     rgba(0, 0, 0, .5), 
                     rgba( 0, 0, 0, .5)),
                     url("../../../images/junction_img/OurPartnersCoverImg.jpg");
    background-position: center center;
}

/*content*/

.wrapper1-ourPartners {
    max-height: fit-content;
    margin: 8rem;
    padding: 5rem;
    text-align: center;
}

.partnership-ourPartners {
    max-width: 350px;
    font-size: 35px;
    font-weight: 700;
    display: block;
    justify-content: left;
    text-align: left;
}

.partner-ourPartners {
    width: 900px;
    padding-left: 150px;
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.description-ourPartners { 
    display: block;
    align-self: center;
    max-width: 50%;
    padding-left: 50px;
    margin-bottom: 16px;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}

.partnerLogo-ourPartners {
    max-height: 160px;
    max-width: 260px;
    padding: 20px;
}

@media(max-width: 800px) {
    .partnership-ourPartners {
        display: block;
        text-align: center;
        justify-content: center;
    }

    .partner-ourPartners { 
        display: flex;
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    .partnerLogo-ourPartners { 
        align-self: center;
        max-width: 100%;
        text-align: center;
        justify-content: center;
        display: block;
        padding: 20px;
    }

    .wrapper1-ourPartners { 
        text-align: center;
        justify-content: center;
        max-height: fit-content;
        max-width: fit-content;
        margin: 0rem;
        padding: 3rem;
        align-content: center;
    }

    .description-ourPartners { 
        font-size: 18px;
        line-height: 29px;
        display: block;
        justify-content: center;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 0px;
        max-width: 100%;
    }
}