
/*intro*/

.containerIntro-ourPartners {
    background: linear-gradient(
                     rgba(0, 0, 0, .5), 
                     rgba( 0, 0, 0, .5)),
                     url("../../../images/junction_img/OurPartnersCoverImg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

/*content*/

.containerMain-ourPartners {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.partnership-ourPartners {
    font-size: 30px;
    font-weight: 700;
    color:  #35e2df;
    max-width: 20rem;
    text-align: left;
    padding: 1rem;
    padding-top: 8rem; 
    padding-bottom: 3rem;
}

.partner-ourPartners {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 10rem;
}

.partnerLogo-ourPartners {
    max-height: 160px;
    max-width: 260px;
    padding: 1rem;
}

.flexItem-right-ourPartners { 
    font-size: 19px;
    line-height: 25px;
    max-width: 30rem;
    text-align: left;
    padding: 1rem;    
}


@media(max-width: 800px) {

    .containerMain-ourPartners { 
        align-content: center;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 15%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .partner-ourPartners { 
        align-items: center;
        flex-direction: column;
        margin-left: 0rem;
    }

    .partnership-ourPartners {
        text-align: center;
    }

    .partnerLogo-ourPartners { 
        align-self: center;
        text-align: center;
        justify-content: center;
    }

    .flexItem-right-ourPartners { 
        max-width: 15rem;
        padding-top: 2rem;
        text-align: center;
    }

    .containerIntro {
        height: 700px;
    }
}